button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width:100px;
    align-self: center;
}

button:hover {
    background-color: #ff7875;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 77, 79, 0.4);
}
